/* 
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    *This removes the web browsers default styles*
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
body * {box-sizing: border-box;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
ul, ol {list-style: inside;}
a {display: inline-block}


/*
header,
footer {
    border: 2px solid gray;
}

nav {
    border: 3px solid yellow;
}

main {
    border: 2px solid red;
}

section {
    border: 5px solid blue;
}

div {
    border: 3px solid orange;
}
*/

/*
-----------------------------------------------------------
    OUR STYLES BEGIN HERE
-----------------------------------------------------------
*/

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

section div {
    padding: 20px;
}

header,
footer {
    background-color: gray;
    padding: 40px;
}

div > * + * {
    margin-top: 15px;
}

header,
main,
footer {
    text-align: center;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

li + li {
    margin-top: 15px;
}

h1,
h2,
h3 {
    font-family: 'Bree Serif', serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: red;
    font-family: 'Bree Serif', serif;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: none;
}

a:active {
    border: 2px dashed black;
}

nav a {
    color: white;
}

nav a + a {
    margin-left: 20px;
}

.icon {
    width: 80px;
    height: 80px;
}

.icon-section {
    background-color: lightgray;
}

.logo {
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}


/*
-----------------------------------------------------------
    DESKTOP STYLES
-----------------------------------------------------------
*/

@media only screen and (min-width: 1024px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }
    section {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: stretch;
    }
    
    section div {
        padding-left: 40px;
        padding-right: 40px;
        flex-basis: 100%;
    }
    
    .icon-section div {
        flex-basis: 33.33%;
    }
    
    .contact-section div {
        flex-basis: 50%;
    }
}